@charset "utf-8";
/* CSS Document */
/* -----------------------------------
   Executive Kost Stylesheets
   Design by webdesigngits.com
   copyright © 2013 Executive Kost   
----------------------------------- */

/* ------------------------
   Shared Styles
------------------------ */
@font-face { font-family: Signika; src: url('Signika-Regular.ttf'); }
* { margin: 0; outline: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline: none; }
body { font-family: Signika; background-color: #F4F4F4; }
img { border: none }
input[type="text"],input[type="password"],select,textarea { padding: 5px 10px; color: #999; border: 1px solid #D3CFC7; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-family: Signika; }
input[type="text"],input[type="password"],textarea { width: auto; }
input:focus,textarea:focus,select:focus { border: solid 1px #c3b177; }
label { display: block; margin-bottom: 5px; font-size: 14px; color: #999; text-shadow: 1px 1px 1px #FFF; }
/* TABLE --------------- */
table { width: 100%; margin-top: 10px; border-collapse: separate; border-spacing: 0; border: 1px solid #CCC; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 0 5px #CCC; -moz-box-shadow: 0 0 5px #CCC; box-shadow: 0 0 5px #CCC; }
th:first-child { -webkit-border-radius: 3px 0 0; -moz-border-radius: 3px 0 0; border-radius: 3px 0 0; }
th:last-child { -webkit-border-radius: 0 3px 0 0; -moz-border-radius: 0 3px 0 0; border-radius: 0 3px 0 0; }
th { padding: 8px 10px; text-align: left; font-size: 14px; font-weight: normal; color: #999; text-shadow: 1px 1px #EEE; background: url('backend/table-heading-bg.jpg') repeat-x; border-bottom: 1px solid #E4E4E4; }
tr:nth-child(even) { background-color: #EEE; }
tr:hover { background-color: #E0E0E0; }
td { padding: 10px; vertical-align: top; font-size: 14px; color: #666; }
td a { text-decoration: none; color: #036; }
td a:hover { color: #666 }
/* SHARED CLASS -------- */
.auto { width: auto !important; }
.left { float: left; margin-right: 5px; }
.clr { clear: both; height: 0px; margin: 0px !important; padding: 0px !important; }
.area { height: 250px; }
.error { display: block; margin-top: 5px; font-size: 14px; color: #DB4C4C; text-align: right; text-shadow: 1px 1px 1px #FFF; }
.button { padding: 5px 10px; background-color: #F4F4F4; border: 1px solid #CCC; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: inset 0 1px 1px #FFF,0 0 5px #CCC; -moz-box-shadow: inset 0 1px 1px #FFF,0 0 5px #CCC; box-shadow: inset 0 1px 1px #FFF,0 0 5px #CCC; cursor: pointer; font-size: 14px; font-family: Signika; color: #666; text-shadow: 1px 1px #FFF; }
.button:hover { background-color: #E2E2E2; color: #999 }
.message { margin: 10px 0; padding: 5px 5px 5px 30px; background: url('backend/checked.png') 5px 50% no-repeat #EBF8A4; border: 1px solid #A2D246; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: inset 0 1px 1px #FFF; -moz-box-shadow: inset 0 1px 1px #FFF; box-shadow: inset 0 1px 1px #FFF; font-size: 12px; color: #900; }
/* LANGUAGE FLAG ------- */
.lang-id { padding-left: 20px; background: url('backend/lang-id.png') left no-repeat; }
.lang-en { padding-left: 20px; background: url('backend/lang-en.png') left no-repeat; }
/* ------------------------
   Menu
------------------------ */
#main { background-color: #333; }
#menu { width: 850px; margin: 0 auto; position: relative; z-index: 1; }
#navbar { margin: 0; padding: 0; }
#navbar img { float: left; margin-right: 5px; }
#navbar li { float: left; color: #FFF; list-style: none; font-size: 14px; }
#navbar li a { display: block; padding: 10px; text-decoration: none; color: #CCC; }
#navbar li a:hover { color: #666; }
#navbar li ul { display: none; /* Width to help Opera out */ }
#navbar li:hover ul, #navbar li.hover ul { display: block; position: absolute; margin: 0; padding: 0; }
#navbar li:hover li, #navbar li.hover li { float: none; }
#navbar li:hover li a, #navbar li.hover li a { padding: 10px; background-color: #333; repeat-x; border-bottom: 1px solid #666; color: #CCC; }
#navbar li li a:hover { background-color: #333; repeat-x; color: #666; }
/* ------------------------
   Content
------------------------ */
#content { width: 850px; margin: 0 auto 10px; padding: 10px; color: #333; border: 1px solid #CCC; border-top: none; -webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px; border-bottom-right-radius: 10px; }
#content a { text-decoration: none; color: #036; }
#content a:hover { color: #666 }
/* head */
#head { margin-bottom: 10px; font-size: 14px; color: #333; }
#head h1 { font-size: 16px; font-weight: normal; color: #999; }
#head p { font-size: 14px }
#head-menu { margin: 0 0 10px; padding: 0; }
#head-menu img { float: left; margin-right: 5px; }
#head-menu li { margin-right: 5px; float: left; color: #FFF; list-style: none; font-size: 14px; }
#head-menu li a { display: block; padding: 5px 10px; background-color: #F4F4F4; border: 1px solid #CCC; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: inset 0 1px 1px #FFF,0 0 5px #CCC; -moz-box-shadow: inset 0 1px 1px #FFF,0 0 5px #CCC; box-shadow: inset 0 1px 1px #FFF,0 0 5px #CCC; cursor: pointer; font-size: 14px; font-family: Signika; color: #666; text-shadow: 1px 1px #FFF; text-decoration: none; color: #CCC; }
#head-menu li a:hover { color: #666; }
#head-menu li ul { display: none; /* Width to help Opera out */ }
#head-menu li:hover ul, #navbar li.hover ul { display: block; position: absolute; margin: 0; padding: 3px 0 0; }
#head-menu li:hover li, #navbar li.hover li { float: none; border: none; }
#head-menu li:hover li a, #navbar li.hover li a { padding: 5px 10px; background-color: #333; border: none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; repeat-x; border-bottom: 1px solid #666; color: #CCC; text-shadow: none; }
#head-menu li li a:hover { background-color: #333; color: #666; }
/* data */
#data .edit { background: url('backend/edit.png') left no-repeat; padding: 0 5px 0 20px; }
#data .delete { background: url('backend/trash.png') left no-repeat; padding-left: 20px; }
#data p { margin-bottom: 10px; text-align: left; }
#data .image-frame { margin: 0 5px 10px; float: left; position: relative; }
#data .image-frame a img { position: absolute; top: -5px; right: -5px; }
#data .image { width: 145px; height: 110px; overflow: hidden; }
#data .page_num { clear: both; margin: 10px 0 0 0; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }
#data .page_num a { padding: 1px 5px; text-decoration: none; font-size: 14px; color: #036; border: 1px solid #CCC; -webkit-border-radius: 2px -moz-border-radius:2px; border-radius: 2px; }
/* invoice */
#invoice { margin-bottom: 10px; }
#invoice h1 { font-size: 16px; color: #333; }
#invoice h2 { font-size: 12px; font-weight: normal; color: #900; }
#invoice fieldset { border: 1px solid #CCC; margin-bottom: 10px; }
#invoice legend { font-size: 14px; color: #999; }
#invoice table { border-collapse: collapse; }
#invoice td { padding: 10px; font-size: 14px; color: #666; vertical-align: top; }
#invoice p { font-size: 14px; color: #333; }