@charset "utf-8";
/* CSS Document */
/* -----------------------------------
   Executive Kost Stylesheets
   Design by webdesigngits.com
   copyright © 2013 Executive Kost   
----------------------------------- */

/* ------------------------
   Shared Styles
------------------------ */
/*@import url(http://fonts.googleapis.com/css?family=Istok+Web);  font-family: 'Istok Web', sans-serif; */
/*@import url(http://fonts.googleapis.com/css?family=Droid+Sans);  use : font-family: 'Droid Sans', sans-serif; */
/*@import url(http://fonts.googleapis.com/css?family=Lobster);  use : font-family: 'Lobster', cursive; */
@font-face { font-family: Lobster; src: url('Lobster_1.3.otf');}
* { margin: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline: 0; }
body { font-family: Arial, Helvetica, sans-serif; background: url('images/body-bg.jpg') no-repeat top center; }
img { border: none; }
.clr { clear: both; height: 0; border: none; }
.headerimg { background-color: #9A9A9A; background-position: center top; background-repeat: no-repeat; width: 100%; height: 700px; position: absolute; }
.error { display: block; font-size: 12px !important; color: #900 !important; }
.message { margin:10px 0; padding:5px 5px 5px 30px; background:url('backend/checked.png') 5px 50% no-repeat #EBF8A4; color:#900; font-size:12px; border:1px solid #A2D246; box-shadow:0 1px 1px #FFF inset; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; }
.booking-button { width: 200px; margin: 10px auto; padding: 22px 0 21px; display: block; background: url('images/booking-button-bg.jpg') repeat-x; box-shadow: 0 1px 1px #666; -moz-box-shadow: 0 1px 1px #666; -webkit-box-shadow: 0 1px 1px #666; text-align: center; text-decoration: none; font-size: 18px; font-weight: bold; color: #FFF; text-shadow: 1px 1px #333; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
/* ------------------------
   Main Frame
------------------------ */
#main-frame { width: 1000px; margin: 0 auto; position: relative; z-index: 1; }
/* ------------------------
   Sidebar
------------------------ */
#sidebar { width: 300px; float: left; position: relative; z-index: 2; }
/* SIDEBAR HEADER */
#sidebar-header { height: 193px; background: url('images/sidebar-header-bg.jpg') no-repeat right; }
#sidebar-header img { display: block; margin: 0 auto; }
#sidebar-header h1 { margin-top: 70px; text-align: center; font-family: 'Lobster', cursive; color: #a0a0a0; text-shadow: 1px 1px 5px #333; }
/* SIDEBAR CONTENT */
#sidebar-content { background: url('images/sidebar-bg.jpg') repeat-y right; }
#room-searching label { font-size: 12px; color: #929392; margin-left: 5px; }
#room-searching table { border-collapse: collapse; margin: 0 5px; }
#room-searching td { padding: 0 10px; }
#room-searching select { padding: 5px; background: transparent; -webkit-appearance: none; border: 0; font-size: 12px; color: #929392; cursor: pointer; }
#room-searching .style-select select { width: 290px; height: 31px; }
#room-searching .style-select { width: 270px; height: 31px; margin: 5px 0; overflow: hidden; background: url('images/arrow-combo-box.jpg') no-repeat right #292929; border: 1px solid #222222; }
#room-searching .style-select2 select { width: 145px; height: 31px; }
#room-searching .style-select2 { width: 125px; height: 31px; margin: 5px 0; overflow: hidden; background: url('images/arrow-combo-box.jpg') no-repeat right #292929; border: 1px solid #222222; }
#room-searching input[type="image"] { margin: 5px 0; }
/* Oprator */
#operator { padding-bottom: 5px; }
.operator { height: 53px; margin: 10px 23px; background: url('images/yahoo-op-bg.jpg') top center no-repeat; }
.operator img { margin: 10px; float: left; }
.operator p { float: left; padding: 18px 0 0 10px; font-size: 13px; font-weight: bold; color: #FFF; text-shadow: 1px 1px #333; }
/* How to Order */
#how-to-order { margin: 0 10px; padding-bottom: 15px; background: url('images/sidebar-border.jpg') repeat-x bottom; }
#how-to-order h1 { margin-bottom: 10px; text-align: center; font-family: 'Lobster', cursive; color: #a0a0a0; text-shadow: 1px 1px 5px #333; }
#how-to-order p { font-size: 12px; color: #a0a0a0; }
#how-to-order img { display: block; margin: 10px auto 0; }
/* Information Room */
#information-room { margin: 0 10px 0 9px; padding-bottom: 10px; background: url('images/sidebar-border.jpg') repeat-x top; }
#information-room h1 { margin-bottom: 10px; text-align: center; font-family: 'Lobster', cursive; color: #a0a0a0; text-shadow: 1px 1px 5px #333; }
#information-room h2 { margin-bottom: 10px; font-size: 16px; color: #a0a0a0; text-shadow: 1px 1px 5px #333; }
#information-room p { font-size: 12px; color: #a0a0a0; }
#room-number { margin-top: 10px; }
#room-number ul { padding: 0; list-style: none; }
#room-number li { float: left; margin: 0 1px 1px 0; background: url('images/room-number-bg.jpg') no-repeat bottom; text-align: center; font-size: 14px; font-weight: bold; }
#room-number li a { width: 39px; height: 43px; padding: 20px 6px 0; display: block; text-decoration: none; color: #FFF; }
#room-number .available { padding: 6px; background: url('images/room-number-bg-2.jpg') no-repeat; }
#room-number .available span { font-size: 10px; display: block; text-transform: uppercase; }
#status { margin-top: 5px; }
#status .status { float: left; margin-right: 20px; }
#status .status img { float: left; margin: 4px 5px 0 0; }
#status .status { font-size: 12px; color: #a0a0a0; }
/* ------------------------
   Content
------------------------ */
#content { width: 700px; float: right; }
/* HEADER */
#header { height: 47px; padding: 10px 0 0 10px; }
#social { float: left; }
#header-menu { margin-top: 5px; float: right; }
#header-menu ul { padding: 0; list-style: none; }
#header-menu li { float: left; margin-right: 15px; font-size: 13px; }
#header-menu li img { float: left; margin-right: 5px; }
#header-menu li a { text-decoration: none; color: #FFF; text-shadow: 1px 1px #333; }
#header-menu li a:hover { color: #8cc962; }
#header-menu li ul { display:none; /* Width to help Opera out */ }
#header-menu li:hover ul, #navbar li.hover ul { display: block; position: absolute; margin: 0; padding: 10px 0 0; position: absolute; z-index: 2; }
#header-menu li:hover li, #navbar li.hover li { margin: 0; float: none; font-size: 13px; }
#header-menu li:hover li a, #navbar li.hover li a { padding: 5px 20px 5px 10px; display: block; background: #CCC; border-bottom: 1px solid #AAA; color: #666; text-shadow: 1px 1px #E0E0E0; }
#header-menu li li a:hover { color: #999; text-shadow: none; }
/* MENU */
#menu { width: 700px; height: 55px; background: url('images/menu-bg.png') repeat-x; position:relative; }
#menu ul { padding: 0; list-style: none; }
#navbar li { float: left; margin: 18px 15px 0 0; font-size: 13px; }
#navbar li a { text-decoration: none; color: #FFF; text-shadow: 1px 1px #333; }
#navbar li a:hover { color: #8cc962; }
#navbar li ul { display:none; /* Width to help Opera out */ }
#navbar li:hover ul, #navbar li.hover ul { display: block; position: absolute; margin: 0; padding: 10px 0 0; position: absolute; z-index: 2; }
#navbar li:hover li, #navbar li.hover li { margin: 0; float: none; font-size: 13px; }
#navbar li:hover li a, #navbar li.hover li a { padding: 8px 20px 8px 10px; display: block; background: #CCC; border-bottom: 1px solid #AAA; color: #666; text-shadow: 1px 1px #EBEBEB; }
#navbar li li a:hover { color: #999; text-shadow: none; }
/*#menu-bg { width: 124px; height: 32px; background: url(images/slider-bg.png) top right no-repeat; position: absolute; z-index: 1; bottom: -32px; right: 0; }*/
/* SLIDER */
#slider { position: relative; }
/* CONTENT SINGLE */
#content-single { width: 438px; float: left; padding: 10px; }
/* navigation */
#navigation { font-size: 12px; font-weight: bold; }
#navigation a { text-decoration: none; color: #a0a0a0; }
#navigation .current { color: #59833c; }
/* social media */
#social-media { padding: 10px 0; }
/* page nav */
.page_num { clear: both; margin: 10px 0 0 0; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }
.page_num a { padding: 1px 5px; text-decoration: none; font-size: 14px; color: #036; border: 1px solid #CCC; -webkit-border-radius: 2px -moz-border-radius:2px; border-radius: 2px; }
/* CONTENT SIDEBAR */
#content-sidebar { width: 250px; float: left; padding: 10px 0; background: url('images/single-sidebar-bg.jpg') repeat-y; }
#content-sidebar h1 { font-size: 12px !important; color: #395a20 !important; margin: 0 0 5px 10px !important; }
#content-sidebar ul { margin-left: 10px; padding: 0; list-style: none; }
#content-sidebar li { width: 230px; height: 36px; list-style: url('images/list-daerah-icon.jpg') inside; background: url('images/list-daerah-bg.jpg') repeat-y right; border-bottom: 1px solid #CCC; font-size: 12px; }
#content-sidebar li a { margin-left: 5px; text-decoration: none; vertical-align: 12px; color: #FFF; text-shadow: 1px 1px #333; }
.content-sidebar { padding: 10px 10px 0; }
.content-sidebar h1 { margin: 0 0 5px !important; }
.content-sidebar .image img { max-width: 230px !important; margin-bottom: 10px; }
.content-sidebar .rel-img img { max-width: 76px !important; float: left; }
/* TESTIMONI */
#testimoni { padding: 25px 10px 0; background: url('images/single-border.jpg') no-repeat top center; }
#testimoni h1 { margin: 0 !important; font-size: 14px !important; font-style: italic; color: #5f5f5f !important; }
#testimoni h2 { font-size: 12px; color: #395a20; }
#comment-form tr { margin-bottom: 5px; }
#comment-form input[type="text"] { width: 250px; padding: 4px 5px 3px; margin-bottom: 5px; float: left; background: url('images/testimoni-input-field-bg.jpg') repeat-x; border: 1px solid #D8D8D8; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 10px; color: #999; }
#comment-form textarea { width: 439px; padding: 5px; background: url('images/testimoni-textarea-field-bg.jpg') repeat-x; border: 1px solid #D8D8D8; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; font-family: 'Droid Web', sans-serif; font-size: 11px; color: #999; }
#comment-form input[type="submit"] { width: 82px; height: 42px; padding: 10px 0; background: url('images/testimoni-send-button-bg.jpg') repeat-x; cursor: pointer; border: 1px solid #F5A00D; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; font-size: 16px; font-weight: bold; color: #FFF; }
#comment-form img { float: left; margin-right: 10px; }
#comment-form #captcha { width: 102px; margin-right: 10px; font-size: 28px; }
/* RESERVATION */
#reservation { margin: 10px 0; }
#reservation ul { margin-bottom: 10px; padding: 0; list-style: none; }
#reservation li { float: left; margin-right: 5px; padding: 5px; border: 1px solid #999; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; font-size: 12px; }
#reservation li a { text-decoration: none; color: #666; }
#reservation .active { background-color: #CCC; }
#reservation .active a { color: #FFF; }
#reservation { clear: both; padding-top: 10px; }
#reservation fieldset { margin-bottom: 10px; border: 1px solid #CCC; }
#reservation legend { font-size: 12px; color: #999; }
.reservation td { padding: 5px; font-size: 12px; color: #666; vertical-align: top; }
.reservation td a { text-decoration: none; color: #036; }
.reservation input,textarea,select { padding: 3px 5px; border: 1px solid #CCC; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; color: #999; }
.reservation input[type="submit"] { padding: 5px 10px; cursor: pointer; -webkit-box-shadow: inset 0 1px 1px white,0 0 5px #CCC; -moz-box-shadow: inset 0 1px 1px white,0 0 5px #CCC; box-shadow: inset 0 1px 1px white,0 0 5px #CCC; }
/* ------------------------
   Bottom Menu
------------------------ */
#bottom-menu { margin: 20px 0 30px; }
#bottom-menu ul { padding: 0; list-style: none; text-align: center; }
#bottom-menu li { display: inline; margin-right: 10px; list-style-type: disc; font-size: 12px; font-weight: bold; }
#bottom-menu li:first-child { list-style: none; }
#bottom-menu li a { text-decoration: none; color: #92bd44; }
#bottom-menu li a:hover { color: #333; }
/* ------------------------
   Single / Page / Archive
------------------------ */
/* ARCHIVE --------------*/
#archive { margin: 10px 0 0 10px; background-color: #F0F0F0; border: 1px solid #DCDCDC; }
.archive { padding-bottom: 30px; background: url('images/archive-border.jpg') no-repeat bottom center; }
.archive h1 { font-size: 16px; color: #609838; }
.archive h2 { font-size: 12px; color: #609838; }
.archive h1 a { text-decoration: none; font-size: 16px; color: #609838; }
.archive p { font-size: 12px; color: #a0a0a0; }
/* SINGLE --------------*/
#single { margin: 10px 0 0 10px; background-color: #F0F0F0; border: 1px solid #DCDCDC; }
#single h1 { margin-bottom: 5px; font-size: 16px; color: #609838; }
#single span { color: #a0a0a0; }
#single img { max-width: 418px; margin-bottom: 10px; }
#single .rel-img img { max-width: 104.5px; float: left; }
#single p { margin-bottom: 10px; font-size: 12px; color: #a0a0a0; }
#single hr { clear: both; margin-bottom: 10px; border-top: 1px dashed #CCC; }
#single #fasilitas table { border-collapse: collapse; }
#single #fasilitas td { font-size: 12px; text-align: right; color: #a0a0a0; border: 1px solid #CCC; }
#single #fasilitas td img { margin-bottom: 0; }
#single #fasilitas td p { margin: 0 10px 0 0; }
#single #city-scape { padding: 10px; }
#single #city-scape img { max-width: 668px !important; cursor: default !important; }
#single .image-frame { padding: 10px; border: 1px solid #999; }
#single .image-frame img { max-width: 100% !important; cursor: default; }
#single .image-frame p { width: 100%; margin-bottom: 0; padding: 5px; background-color: #000; position: absolute; left: 0; bottom: 0; }
/* SEARCH --------------*/
#search { margin: 10px 0 0 10px; background-color: #F0F0F0; border: 1px solid #DCDCDC; }
.search { padding-bottom: 30px; background: url('images/archive-border.jpg') no-repeat bottom center; }
.search h1 { font-size: 16px; color: #609838; }
.search img { float: left; margin-right: 10px; }
.search .search-desc h2 { font-size: 12px; color: #606060; }
.search .search-desc span { color: #568139; }
.search .search-desc p { font-size: 12px; color: #a0a0a0; }
.search .search-desc p a { text-decoration: none; font-size: 12px; color: #609938; }
/* ------------------------
   Footer
------------------------ */
#footer-bg { position: relative; top: -15px; background: url('images/footer-bg.jpg') repeat-x bottom; }
#footer { width: 1000px; margin: 0 auto; padding-top: 60px; }
#left-content { width: 300px; float: left; }
#right-content { width: 724px; float: right; padding: 5px 10px 10px; }
#right-content .title { color: #437323; }
#right-content p { font-size: 12px; font-weight: bold; color: #585858; }
#right-content p a { text-decoration: none; color: #437323; }
/* Footer News */
#footer-news { clear: both; margin: 0 10px; }
.footer-news { width: 32.33%; height: 126px; margin: 10px 4px; padding: 10px 5px; border: 1px dotted #D6D6D6; float: left; }
.footer-news-img { width: 100px; height: 100px; overflow: hidden; float: left; margin-right: 10px; }
.footer-news-img img { max-height: 100px; }
.footer-news .footer-news-desc { margin-right: 10px; }
.footer-news h1,h2 { font-size: 12px; }
.footer-news h1 a { text-decoration: none; color: #4e4e4e; }
.footer-news h2 a { text-decoration: none; color: #416b24; }
.footer-news p { font-size: 12px; color: #646464; }
.footer-news p a { text-decoration: none; color: #416b24; }
/* Footer Mitra */
#footer-mitra { padding-top: 50px; background: url('images/mitra-border.jpg') no-repeat top center; text-align: center; }
#footer-mitra img { margin: 0 15px; }
/* Footer Menu */
#footer-menu { padding: 10px 60px; clear: both; }
#footer-menu img { float: left; }
#footer-menu ul { list-style: none; float: left; margin-top: 15px; }
#footer-menu li { float: left; margin-right: 20px; font-size: 12px; }
#footer-menu li a { text-decoration: none; color: #363737; }