/* Basic jQuery Slider essential styles */

ul.bjqs { position: relative; list-style: none; padding: 0; margin: 0; overflow: hidden; display: none; }
li.bjqs-slide { position: absolute; display: none; }
ul.bjqs-controls { display: none; list-style: none; margin: 0; padding: 0; z-index: 9999; }
ul.bjqs-controls.v-centered li a { position: absolute }
ul.bjqs-controls.v-centered li.bjqs-next a { right: 0 }
ul.bjqs-controls.v-centered li.bjqs-prev a { left: 0 }
ol.bjqs-markers { list-style: none; padding: 0; margin: -30px 0 0; width: 100%; position: absolute; }
ol.bjqs-markers.h-centered { text-align: center }
ol.bjqs-markers li { display: inline }
ol.bjqs-markers li a { margin:5px; display: inline-block; width: 11px; height: 11px; background: url(img/list.png) no-repeat; }
ol.bjqs-markers li.active-marker a, ol.bjqs-markers li a:hover { background: url(img/list.png) no-repeat bottom; }
p.bjqs-caption { display: none; width: 96%; margin: 0; padding: 2%; position: absolute; bottom: 0; background: rgba(255,255,255,0.5); }
