﻿@charset "utf-8";
/* CSS Document */
/* -----------------------------------
   Executive Kost Stylesheets
   Design by GIT Solution
   copyright © 2013 Executive Kost   
----------------------------------- */

/* ------------------------
   Shared Styles   
------------------------ */
@font-face { font-family: Signika; src: url('Signika-Regular.ttf'); }
* { margin: 0; outline: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline: none; }
body { font-family: Signika; background-color: #F4F4F4; }
img { border: none }
input[type="text"],input[type="password"],select,textarea { padding: 5px 10px; color: #999; border: 1px solid #D3CFC7; /*-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;*/ font-family: Signika; font-size: 14px; }
input[type="text"],input[type="password"],textarea { width: 100%; }
input:focus,textarea:focus,select:focus { border: solid 1px #c3b177; }
label { display: block; margin-bottom: 5px; font-size: 14px; color: #999; text-shadow: 1px 1px 1px #FFF; }
/* TABLE --------------- */
table { width: 100%; border-collapse: separate; border-spacing: 0; /*border: 1px solid #CCC; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 0 5px #CCC; -moz-box-shadow: 0 0 5px #CCC; box-shadow: 0 0 5px #CCC;*/ }
th:first-child { -webkit-border-radius: 3px 0 0; -moz-border-radius: 3px 0 0; border-radius: 3px 0 0; }
th:last-child { -webkit-border-radius: 0 3px 0 0; -moz-border-radius: 0 3px 0 0; border-radius: 0 3px 0 0; }
th { padding: 8px 10px; text-align: left; font-size: 14px; font-weight: normal; color: #999; text-shadow: 1px 1px #EEE; /*background: url('backend/table-heading-bg.jpg') repeat-x;*/ border-bottom: 1px solid #E4E4E4; }
tr:nth-child(even) { background-color: #EEE; }
tr:hover { background-color: #E0E0E0; }
td { padding: 10px; vertical-align: top; font-size: 14px; color: #666; }
td a { text-decoration: none; color: #036; }
td a:hover { color: #666 }
/* SHARED CLASS -------- */
.auto { width: auto !important; }
.left { float: left; margin-right: 5px; }
.clr { clear: both; height: 0px; margin: 0px !important; padding: 0px !important; }
.area { height: 250px; }
.error { display: block; margin-top: 5px; font-size: 14px !important; color: #DB4C4C !important; text-align: right; text-shadow: 1px 1px 1px #FFF; }
.button { padding: 5px 10px; background-color: #F4F4F4; border: 1px solid #CCC; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: inset 0 1px 1px #FFF,0 0 5px #CCC; -moz-box-shadow: inset 0 1px 1px #FFF,0 0 5px #CCC; box-shadow: inset 0 1px 1px #FFF,0 0 5px #CCC; cursor: pointer; font-size: 14px; font-family: Signika; color: #666; text-shadow: 1px 1px #FFF; }
.button:hover { background-color: #E2E2E2; color: #999 }
.message { margin: 10px 0; padding: 5px 5px 5px 30px; background: url('backend/checked.png') 5px 50% no-repeat #EBF8A4; border: 1px solid #A2D246; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: inset 0 1px 1px #FFF; -moz-box-shadow: inset 0 1px 1px #FFF; box-shadow: inset 0 1px 1px #FFF; font-size: 12px; color: #900; }
/* LANGUAGE FLAG ------- */
.lang-id { padding-left: 20px; background: url('backend/lang-id.png') left no-repeat; }
.lang-en { padding-left: 20px; background: url('backend/lang-en.png') left no-repeat; }
/* ------------------------
   Login Form
------------------------ */
#topmenu { height: 40px; margin: 0 0 80px 0; background-color: #333; }
#topmenu a { padding: 0 20px 0 0; text-decoration: none; font-size: 14px; color: #CCC; }
#mainlogin { width: 315px; margin: 0 auto; }
#login { width: 315px }
#login h1 { margin-bottom: 10px; text-align: center; font-size: 18px; font-weight: normal; color: #666; }
#login .login-body { padding: 20px; background-color: #EBEBEB; border: 1px solid #CCC; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 0 5px 0 #CCC,inset 0 1px 0 #FFF; -moz-box-shadow: 0 0 5px 0 #CCC,inset 0 1px 0 #FFF; box-shadow: 0 0 5px 0 #CCC,inset 0 1px 0 #FFF; }
#login .login-body input[type="text"],input[type="password"] { font-size: 16px; }
#login .login-body input[type="submit"] { margin-top: 10px; }
.develop { margin: 10px 10px 0 0; text-align: right; color: #999; font-size: 14px; }
.develop a { text-decoration: none; color: #036; }
/* ------------------------
   Administrator
------------------------ */
/* HEADER -------------- */
#header-bg { width: 100%; background-color: #333; position: fixed; z-index: 1; }
#header { width: 1000px; margin: 0 auto; padding: 10px 0 0 0; }
/* HEADER LEFT */
#header-left { width: 600px; float: left; }
#header-left h1 { font-size: 16px; font-weight: normal; color: #CCC; }
#header-left a { text-decoration: none; color: #CCC; }
#header-left a:hover { color: #666 }
/* HEADER RIGHT */
#header-right { width: 250px; float: right; }
#header-right h1 { font-size: 16px; font-weight: normal; }
#header-right h2 { font-size: 12px; font-weight: normal; }
#header-right img { padding: 3px; border: 1px solid #444; float: left; }
#header-right ul { float: right; padding: 0; list-style: none; position: relative; }
#header-right li { display: block; float: left; margin-left: 10px; font-size: 12px; color: #CCC; }
#header-right li a { color: #CCC; text-decoration: none; }
#header-right li ul { display:none; }
#header-right li:hover ul, #navbar li.hover ul { display: block; margin: 0; padding: 10px 0 0; position: absolute; right: 0; z-index: 2; }
#header-right li:hover li, #navbar li.hover li { margin: 0; float: none; }
#header-right li:hover li a, #navbar li.hover li a { padding: 5px 20px 5px 10px; display: block; background: #444; color: #999; }
#header-right li li a:hover { background: #666; }
/* HEADER MIDDLE */
#header-middle { padding: 0 0 10px; clear: both; width: 1000px; }
#header-middle ul { margin-left: 200px; padding: 0; list-style: none; }
#header-middle li { display: block; margin-right: 1px; padding: 5px 15px; float: left; background-color: #464646; text-transform: uppercase; font-size: 12px; /*border: 1px solid #040404; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 0 3px #0c88af,inset 0 1px 1px #666; -moz-box-shadow: 0 0 3px #0c88af,inset 0 1px 1px #666; box-shadow: 0 0 3px #0c88af,inset 0 1px 1px #666;*/ }
#header-middle li a { text-decoration: none; color: #999; }
#header-middle .selected { background-color: #292929; /*-webkit-box-shadow: 0 0 3px #888; -moz-box-shadow: 0 0 3px #888; box-shadow: 0 0 3px #888;*/ }
#header-middle .selected a { color: #CCC; }
/* CONTAINER ----------- */
#container { width: 1000px; margin: 0 auto; padding-top: 77px; }
/* SIDEBAR */
#sidebar { width: 200px; float: left; }
#sidebar .msg_list { width: 200px }
#sidebar .msg_head { padding: 10px 10px 10px 30px; background: url('backend/sidebar-menu-bg.jpg') repeat-x #252525; font-size: 14px; color: #666; text-transform: uppercase; cursor: pointer; }
#sidebar .msg_head a { text-decoration: none; color: #666; }
#sidebar .msg_body ul { padding: 0; list-style: none; }
#sidebar .msg_body li { padding: 10px; font-size: 14px; color: #666; list-style-image: url(backend/folder.png); list-style-position: inside; background: url('backend/sidebar-menu-bg.jpg') repeat-x #252525; }
#sidebar .msg_body li a { text-decoration: none; color: #666; }
#sidebar .msg_body li a:hover { color: #CCC }
#sidebar .msg_body .sub-menu { padding-left: 30px }
/* CONTENT */
#content { float: right; width: 800px; padding: 10px; color: #333; border: 1px solid #CCC; border-top: none; -webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px; border-bottom-right-radius: 10px; }
#content a { text-decoration: none; color: #036; }
#content a:hover { color: #666 }
/* head */
#head { margin-bottom: 10px; font-size: 14px; color: #333; }
#head h1 { font-size: 16px; font-weight: normal; color: #999; }
#head p { font-size: 14px }
#lastest-post { width: 50%; padding: 10px; float: left; /*border: 1px solid #CCC; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; */}
#lastest-post ul { padding: 0; list-style: none; }
#lastest-post li {  }
/* data */
#data #navigation { margin: -5px -10px 10px; padding: 5px 15px; background: url('backend/table-heading-bg.jpg') repeat-x; -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; }
#data #navigation ul { float: right; }
#data #navigation li { margin-left: -1px; padding: 5px 10px; float: left; -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; font-size: 14px; color: #999; text-shadow: 1px 1px 1px white; }
#data #navigation li.active { background-color: #F4F4F4; border: 1px solid #E4E4E4; border-bottom: none; }
#data #tabs_container { margin: 10px 0; }
#data #tabs_container ul { padding: 0; list-style: none; }
#data #tabs_container li { float: left; margin: 0 5px 5px 0; padding: 5px; border: 1px solid #999; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; font-size: 12px; }
#data #tabs_container li a { text-decoration: none; color: #666; }
#data #tabs_container .active { background-color: #CCC; }
#data #tabs_container .active a { color: #FFF; }
#data #tabs_content_container { clear: both; margin-bottom: 10px; padding: 10px; border: 1px solid #CCC; }
#data #tabs_content_container .tab_content { display: none; }
#data #data-content { padding: 5px 10px; border: 1px solid #CCC; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 0 5px #CCC; -moz-box-shadow: 0 0 5px #CCC; box-shadow: 0 0 5px #CCC; }
#data .edit { background: url('backend/edit.png') left no-repeat; padding: 0 5px 0 20px; }
#data .delete { background: url('backend/trash.png') left no-repeat; padding-left: 20px; }
#data p { margin-bottom: 10px; text-align: left; font-size: 14px; color: #999; }
#data .image-frame { margin: 0 5px 10px; float: left; position: relative; }
#data .image-frame a { cursor: pointer; }
#data .image-frame .image a img { position: relative; top: 0; right: 0; }
#data .image-frame a img { position: absolute; top: -5px; right: -5px; }
#data .image { width: 145px; height: 110px; overflow: hidden; }
#data ul { padding: 0; list-style: none; }
#data li { font-size: 14px; text-transform:capitalize; color: #999; text-shadow: 1px 1px 1px white; }
#data .page_num { clear: both; margin: 10px 0 0 0; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }
#data .page_num a { padding: 1px 5px; text-decoration: none; font-size: 14px; color: #036; border: 1px solid #CCC; -webkit-border-radius: 2px -moz-border-radius:2px; border-radius: 2px; }

.gallery { width: 180px; float: left; margin: 0 1px 10px; position: relative; }
.gallery-frame { position: relative; width: 170px; height: 130px; padding: 4px; border: 1px solid #CCC; }
.caption { width: 162px; padding: 4px; position: absolute; background: url'(backend/transparent-bg.png'); font-size: 12px; color: #FFF; bottom: 4px; right: 4px; }
.gallery p { margin: 0; font-size: 12px; }
.input-text { padding: 2px; background-color: #FFF; border: 1px solid #CCC; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
/* FOOTER -------------- */
#footer { width: 1000px; margin: 10px auto 0; font-size: 14px; color: #666; }